<html lang="en">

<head>
    <title>Lumberjack</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <link rel="icon" href="ax.svg"/>

    <style>
        html, body {
            height: 100%;
        }
        footer {
            position: absolute;
            bottom: 0;
            height: 2rem;
        }
    </style>
</head>

<body>
    <div id="app" class="pa3 pl5 avenir mw9 center vh-100 flex flex-column">
        <h1 class="f1 u pb2"><a href="" class="no-underline bg-animate bg-black-90 hover-bg-red white measure-narrow ph1">{{ title }}</a></h1>
        
        <!-- input -->
        <div class="measure black-80 pb1 mb2">
            <label for="input" class="f6 b db mb2">
                Unformated items 
                <span class="normal black-60">(items separated by new line)</span>
                <span class="fr">
                    <input class="input-reset bg-animate bg-black-90 hover-bg-red white" type="button" value="Clear" v-on:click="clear()" v-show="input.length>0">
                    <input class="input-reset bg-animate bg-black-90 hover-bg-red white" type="button" value="Reset" v-on:click="reset()">
                </span>
            </label>
            <textarea id="input" class="input-reset ba b--black-20 pa2 mb2 db w-100" rows="5" cols="30" v-model="input"></textarea>  
        </div>
        
        <!-- output -->
        <div class="measure black-80 pb1">
            <label for="input" class="f6 b db mb2">
                Formated items
                <span class="fr normal black-60">
                    <span v-bind:class="[output.length > maxLength ? 'b red' : '']">{{ output.length }}</span>/{{ maxLength }}
                </span>
            </label>
            <textarea id="input" class="input-reset ba b--black-20 pa2 mb2 db w-100" rows="5" cols="30" readonly>{{ output }}</textarea>
            
            <input type="checkbox" id="leftPadIsActiveChkBx" v-model="leftPadIsActive">
            <label for="leftPadIsActiveChkBx" class="pa0 ma0 lh-copy f6 pointer pr2">Left Pad</label>
            
            <input type="checkbox" id="rightPadIsActiveChkBx" v-model="rightPadIsActive">
            <label for="rightPadIsActiveChkBx" class="pa0 ma0 lh-copy f6 pointer pr2">Right Pad</label>

          </div>

          <footer>
            <small class="f6">
                <div class="black-50">Icons made by <a href="https://www.flaticon.com/free-icon/chopping_3057014" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </small>
          </footer>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'Lumberjack',
                input: '',
                leftPadIsActive: false,
                rightPadIsActive: false,
                maxLength: 200
            },
            computed: {
                output: function () {
                    return this.input
                        .trim()
                        .split('\n')
                        .map(e => e.trim())
                        .map(e => (this.leftPadIsActive ? '*' : '') + e) // add left padding
                        .map(e => e + (this.rightPadIsActive ? '*' : '')) // add right padding
                        .sort()
                        .join(',')
                        .trim()
                }
            },
            methods: {
                clear: function () {
                    this.input = ''
                    return null
                },
                reset: function () {
                    this.input = ''
                    this.leftPadIsActive = false
                    this.rightPadIsActive = false
                    return null
                }
            }
        })
    </script>
</body>

</html>